#root {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.Post {
  border-width: 0.1em;
  border-color: black;
  border-style: solid;
}

.post-element {
  padding: 1vw 4vw 4vw 1vw;
  border-width: 0.1vw;
  width: 0.1vw;
  height: 0.1vw;
  border-color: white;
  border-style: solid;

  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.like_on{
  border-style: solid;
  border-color: transparent;
  width:3vw;
  border-radius: 100%;
  background-color: palevioletred;
  border-width: 1px;
}

.like_off{
  border-style: solid;
  border-color: transparent;
  border-radius: 100%;
  width:3vw;
  background-color: rgba(0, 0, 0, 0);
  border-width: 1px;
}

.TopOfPost{
  display:flex;
  justify-content: space-between;
}

.likeCount{
  background-color: rgba(0, 0, 0, 0);
}

.bookmark {
  max-width: 3vw;
  max-height: 3vw;
}

.flex {
  justify-content: right;
  display:flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: block;
  min-height: 100vh;
  margin: 0;
  padding: 120px;
}

.likeCount {
  padding: 0.5em;
}

.invisButton {
  display:flex;
  padding:5px;
}

.post-element:hover {
  border-color: #646cff;
}
.post-element:focus,
.post-element:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
