.custom-textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    resize: vertical;
    min-height: 80px;
    max-height: 205px;
  }
  
  .custom-textarea:focus {
    border-color: #646cff;
    outline: none;
  }
  